<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>My Blog, yo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script type="template/html" id="postTmpl">
        <% _.each(posts, function(post, index , list) { %>

            <article>
                <h3 class="postTitle"><%= post.title %> <small><%= post.date %></small><span class="glyphicon glyphicon-remove removePost"></span></h3>
                <div class="postContent">
                
                   <%= post.content %>
                </div>
                <div class="authorPost"><%= post.author %></div>
            </article>
        <% }); %>
        </script>
        <script type="template/html" id="recentPostsTmpl">
        <% _.each(posts, function(post, index , list) { %>
            
            <li><a href=""><%= post.title %></a></li>
           
        <% }); %>
        </script>
    </head>
    <body>


        <div class="container pageContent">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Blog Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">The Iron Yard</h3>
            </div>
            <div class="row">
            <div class="col-lg-8">
                <div class="content mainContent">
                    <button class="pull-right btn btn-warning">New Post</button>
                <section>
                    <!-- posts go here -->

                </section>
            </div>
            </div>
            
            <div class="col-lg-4">
               <div class="content">
                <h3>Recent Posts</h3>
                <ul class="recentPosts">
                    <!-- recent posts go here -->
                </ul>
                </div>

            </div>

            </div>

        

            
    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> You for you about you, love you!</p>
    </div>

            <!-- stuff that you can't see initially -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Blog Post</h4>
      </div>
      <form id="newPostForm" action="">
      <div class="modal-body">
        
            <div class="form-group">
                <label for="newPostTitle">Title of New Post</label>
                <input type="text" class="form-control newPostTitle" id="newPostTitle" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="authorPost">Author of Post</label>
                <input type="text" class="form-control authorPostForm" id="authorPostForm" placeholder="Author">
              </div>
              <div class="form-group">
                <label for="postContent">Post</label>
                <textarea id="postContentForm" class="form-control postContentForm"></textarea>
                <p class="help-block">Example block-level help text here.</p>
              </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- begin edit modal -->
<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Blog Post</h4>
      </div>
      <form id="editPostForm" action="">
     <!-- template renders for this -->
      </form>
    </div>
  </div>
</div>

        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/templates.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
